[submodule "repo1"]
	path = repo1
	url = https://github.com/T4R-da/Black-Jack-simulator.git
[submodule "repo2"]
	path = repo2
	url = https://github.com/T4R-da/Poker-simulator.git
[submodule "repo3"]
	path = repo3
	url = https://github.com/T4R-da/Texas_holdem-simulator.git
